body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.intro-left {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: center;
}

.container-head {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.pc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
}