@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

/*CSS Header Section*/


.header {
    display: flex;
    justify-content: center;
    margin: 20px 80px;
    flex-shrink: 0;
    gap: 350px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex: 1;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 100px 80px;
}

.container-head {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.pc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    padding: 90px;
    flex-shrink: 0;
}

.little-text {
    font-size: 18px;
    color: #bcc1ca;
}

.intro a {
    text-decoration: none;
    color: #f9faf8;
}

.sign-up-top {
    background-color: #3882f6;
    border: 0;
    max-width: 80px;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 10px;
}

.header a {
    text-decoration: none;
    color: #bcc1ca;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

/*CSS Info Section*/


.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.box {
    padding: 65px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-boxes,.container-subtext {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.container-subtext div {
    max-width: 140px;
    text-align: center;
    font-size: 16px;
    color: #535353;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/*CSS Testimonial Section*/


.container-testimonial {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container-testimonial div {
    font-size: 36px;
    font-family: 'Bad Script', cursive;
    color: #1f2937
}

.container-testimonial p {
    display: flex;
    font-size: 24px;
}

/*CSS Sign-up Section*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 100px 0;
    border-radius:;
}

.container-sign-up {
    display: flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    gap: 100px;
    border-radius: 8px;
    flex-shrink: 0;
}

.sign-up-header {
    font-size: 24px;
    color: #f9faf8;
}

.sign-up-body {
    font-size: 18px;
    color: #bcc1ca;
}

.sign-up-left,.sign-up-right {
    display: flex;
    flex-shrink: 0;
}

.sign-up-left {
    flex-direction: column;
}

.sign-up-right a{
    text-decoration: none;
    color: #f9faf8;
    padding: 10px 20px;
}

.sign-up-right {
    background-color: transparent;
    border-radius: 10px;
    border-color: #f9faf8;
}

/*CSS Footer Section*/

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 30px;
    color: #bcc1ca;
    font-size: 18px;
}