body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px;
}

.container-head {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.pc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    padding: 90px;
}

.little-text {
    font-size: 18px;
    color: #bcc1ca
}

.intro a {
    text-decoration: none;
    color: #f9faf8;
}

.sign-up-top {
    background-color: #3882f6;
    border: 0;
    max-width: 80px;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 10px;
}

.header a {
    text-decoration: none;
    color: #bcc1ca;
    font-size: 18px;
}